

.jumbotron{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #39ff14;
    background-color: purple;
    text-shadow: 3px 3px 2px orange;
}

#searchArea{
    padding: 10px;
    margin: 15px;
    background-color: beige;
    border-color: navy;
    border-style: outset;
    border-radius: 15px;
    box-shadow: 3px 3px 2px orange;
}

#search{
    border-color: maroon;
    margin-left: 16px;
}

#submit{
    border-color: maroon;
}

#currentWeather{
    padding: 10px;
    margin: 10px 5px 10px 10px;
    height: 350px;
    background-color: beige;
    border-color: navy;
    box-shadow: 3px 3px 2px orange;
    border-style: outset;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#historyArea{
    padding: 10px;
    margin: 10px 10px 10px 5px;
    height: 350px;
    background-color: beige;
    border-color: navy;
    box-shadow: 3px 3px 2px orange;
    border-style: outset;
    border-radius: 15px;
}

#forecastHeader{
    margin-top:15px;
}

#forecastDay{
    background-color: beige;
    border-color: navy;
    box-shadow: 3px 3px 2px orange;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    border-style: outset;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: purple;
    font-weight: bold;
    margin-top: 5px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

button{
    font-family: Arial, Helvetica, sans-serif;
    border-style: outset;
    border-color: maroon;
    border-radius: 7px;
    margin: 5px;
    
}

input{
    font-family: Arial, Helvetica, sans-serif;
    border-style: outset;
    border-color: maroon;
    border-radius: 7px;
    
}